<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.activation.title}">Speed Complaint creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Cher</p>
    <p th:text="#{email.creation.text1}">Votre compte Speed Complaint a été créé avec succès.</p>
    <p>
      <strong th:text="#{email.creation.password.label}">Mot de passe temporaire:</strong>
      <span th:text="${temporaryPassword}"></span>
    </p>
    <p th:text="#{email.creation.text2}">
      Veuillez vous connecter avec ce mot de passe temporaire et le changer immédiatement après votre première connexion pour des raisons de
      sécurité.
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/|})" th:href="${url}" th:text="${url}">Lien de connexion</a>
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Cordialement, </span>
      <br />
      <em th:text="#{email.signature}">L'équipe Speed Complaint.</em>
    </p>
  </body>
</html>
